.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap:80px;
  justify-items: center;
  padding: 30px 60px;
}

@media screen and (max-width: 600px) {
  .movies-container {
    padding: 20px;
    grid-column-gap: 30px;
    grid-row-gap:30px;
  }
}