.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap:80px;
  justify-items: center;
  padding: 30px 60px;
}

@media screen and (max-width: 600px) {
  .movies-container {
    padding: 10px;
    grid-column-gap: unset;
    grid-row-gap:20px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}