.slick-prev {
    left: 25px;
    z-index: 5;
}

[dir='rtl'] .slick-prev {
    right: 25px;
}

.slick-prev:before {
    color: #fff;
    font-size: 40px;
}

.slick-next {
    right: 40px;
}

[dir='rtl'] .slick-next {
    left: 40px;
}

.slick-next:before {
    color: #fff;
    font-size: 40px;
}

.slick-dots {
    bottom: 40px;
}

.slick-dots li button:before {
  opacity: .50;
    color: #fff;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}

.carousel {
  margin-bottom:20px;
  box-shadow: 0px 15px 40px rgba(245, 16, 234, 0.2);
}