.trailer{
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.699);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer__container {
  position:relative;
}

.iframe {
  width: 560px;
  height: 315px;
    box-shadow: 15px 15px 60px 5px rgba(245, 16, 234, 0.2), 
    -15px -15px 60px 5px rgba(16, 153, 245, 0.2);
}

.exit-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size:40px;
  height:40px;
  width: 40px;
  line-height:.8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.747)
}

.exit-btn:hover {
  background-color: white;
}

