* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030328;
  color: #fff;
  font-family: 'Source Serif Pro', serif;
}

/* font-family: 'Pacifico', cursive;
font-family: 'Source Serif Pro', serif;
font-family: 'Yeseva One', cursive; */